# Configurações do Banco de Dados
DB_USER=admin
DB_PASSWORD=secret
DB_NAME=concursos_db

# Configurações de Segurança (JWT)
API_SECURITY_TOKEN_SECRET=MinhaChaveUltraSecretaDe32Caracteres2026!

# Admin Inicial do Seed
ADMIN_EMAIL=admin@concursos.com
ADMIN_PASSWORD=Admin